.indexbackgroundcolor {background-color: rgb(179, 245, 192);}

.linkedinlink {text-decoration: underline;}
.indexfontsmall {color: rgb(15, 98, 15);}
.aboutmebigfont {font-weight: bold;
                color: rgb(15, 98, 15);}
.aboutmeparagraphfont {font-weight: lighter;
                        color: rgb(154, 154, 154);}